/* single selector using */


/* #demo {
    color: blue;
}

.demo1 {
    color: red;
}

p {
    color: green;
} */


/* * universal selector */


/* * {
    color: red;
} */


/* grouping selector */


/* p,
h1 {
    color: red;
} */


/* #demo,
.demo1 {
    color: green;
} */


/* comments hello world*/


/* color, background-color, text-color, border-color, RGB, HEX< HSL, RGBA, HSLA */


/* h1 {
    color: red;
    /*alpha: 0-1 */


/* background-color: rgb(255, 99, 71); */


/* background-color: rgba(255, 99, 71, 0.2); */


/* background-color: #ff6347; */


/* background-color: hsl(9, 100%, 64%); */


/* background-color: hsla(9, 100%, 64%, 0.3);
border: 3px solid;
border-color: blue;

}
*/


/* color, image, repeat, attachment, position, */


/* div { */


/* rga, hex, hsl, rgba, hsla */


/* background-color: bisque;
} */


/* div {
    color: white;
    background-image: url('Images/2.jpeg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
} */


/* border-style
dotted, dashed, solid, double, groove, ridge,
inset, outset, none, hidden */


/* p { */


/* border-style: dotted; */


/* border-style: dashed; */


/* border-style: double; */


/* name, HEX: #ff0000, HSl: hue, saturation, lightness, 
    RGB: red green and blue, rgba red green blue and alpha, 
    hsla: alpha  */


/* border-color: green; */


/* border-color: red green blue yellow; */


/* border-width: 5px 20px 30px 40px; */


/* border-width: 5px; */


/* 5px top 20px left 30px bottom 40px right */


/* border-top: dotted;
    border-bottom: dashed;
    border-left: solid;
    border-right: double;

    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;

    border-left-color: red;
    border-right-color: green;
    border-top-color: blue;
    border-bottom-color: yellow */


/* border: 5px solid red; */


/* border-left: 5px dotted red;
    border-right: 5px dashed blue;
    border-top: 5px solid green;
    border-bottom: 5px double yellow; */


/* border: 3px solid green;
    /* border-end-end-radius: 5px; */


/* border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px; */


/* border-radius: 5px; */


/* top, bottom, right, left */


/* margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px; */


/* margin: 25px 50px 75px 100px; */


/* margin: auto; */


/* collapse */


/* margin: 20px 0 0 0; */


/* } */


/* div { */


/* padding: 70px; */


/* left, right, top, bottom */


/* padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px; */


/* padding: 25px 50px 75px 100px; */


/* height, width */


/* width: 300px;
    height: auto; */


/* max-width: 300px;
    max-height: auto; */


/* border: 5px solid #4CAF50;
    width: 320px;
    background-color: lightgray;
    padding: 10px;
    margin: 0px; */


/* outline */


/* style, color, width, offset, outline */


/* outline-style: double;
    outline-width: 5px;
    outline-color: #ff0000;
    outline-offset: 15px; */


/* } */

p {
    /* start, end, right, left, center, auto */
    /* border: 1px solid black;
    color: aqua; */
    /* text-align: justify; */
    /* text-align-last: right; */
    /* rtl, ltr */
    /* direction: ltr; */
    /* baseline, text-top, text-bottom, sub, super */
    /* text decoreation */
    /* overline, line-through, underline */
    /* text-decoration: none;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-line: underline; */
    /* text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize; */
    /* text-indent: 50px;
    letter-spacing: -1px;
    line-height: 0.8;
    word-spacing: 10px; */
    /* white-space: nowrap; */
    /* text-shadow: 2px 2px 5px red; */
}


/* a {
    text-decoration: none;
} */


/* span img {
    width: 10px;
    height: 10px;
    vertical-align: super;
} */


/* ion-icon {
    height: 50px;
    width: 50px;
}

a {
    color: red;
    border: 2px solid red;
    text-decoration: none;
    background-color: yellow;
    padding: 14px 25px;
    display: inline-block;
}

a:visited {
    color: green;
}

a:hover {
    color: green;
    background-color: red;
}

ol {
    background-color: #ff9999;
    padding: 20px;
}

ol li {
    background-color: #ffe5e5;
    color: darkblue;
    padding: 5px;
    margin-left: 35px;
} */


/* table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    width: 100%;
    text-align: center;
}

tr:hover {
    background-color: red;
} */

li {
    /* display: inline;
    margin: 5px; */
    /* display: block;
    display: none; */
}


/* li a {
    text-decoration: none;
    border: 2px solid black;
    background-color: yellow;
    color: blue;
} */